<div class="container mt-4">
    <div class="jumbotron animated bounceInUp fast">
        <div class="linea">
            <div class="col-md-8">
                <h1>My name's Sebastian Obando</h1>
                <h2>I'm Software Developer</h2>
                <br>
                <p>I am a web developer focused on teamwork,
                   who seeks to learn from his peers and who
                   is curious to learn on his own but always
                   wants to teach his peers about his learning
                   and who has a taste for Cafe.</p>
                <a href="https://github.com/seObando19" class="btn btn-primary">Github</a>
            </div>
            <div>
                <img class="avatar" src="../../assets/img/myAvatar (1).png">
            </div>
        </div>
    </div>
</div>